NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CHAIN_ID=5
INFURA_KEY=84842078b09946638c03157f83405213
ALCHEMY_KEY=KA5Gi-t0EHbYno-D4J52k2F4eZFqwnNa
NEXT_PUBLIC_CONTRACT_DIGI_MINERS_NFT_MINT_ADDRESS=0x4040E832Bb557F8318BCf746Da7d223c2Da1BAD2
SIGNER_PRIVATE_KEY=8682ff19de8119e055a95aecec994c76e405155759c9604bb50ba4aafa11eb87
INFURA_NET_ETH_NAME=goerli
INFURA_NET_ETH_CHAIN_ID=5
NEXT_PUBLIC_OPENSEA_URL=https://testnets.opensea.io/assets/goerli
NEXT_PUBLIC_CONTRACT_DIGI_MINERS_MINING_ADDRESS=0x6918d91fC65e2baDed98D0aAA7bedDB6B8Db31F5
ETHERSCAN_API_KEY=F5XWU1G1Q6IDIZ9QRV9TXSC7WPFFY1TT4C